#include "cli_programmer_common.rc"

#ifdef _DEBUG
UARTBOOT BINARY_DATA "../../../sdk/bsp/system/loaders/uartboot/DA1468x-xx_Debug/uartboot.bin"
#else
UARTBOOT BINARY_DATA "../../../sdk/bsp/system/loaders/uartboot/DA1468x-xx_Release/uartboot.bin"
#endif
